 .inputRange {
     font-size: 1.5rem;
     width: 100%;
     position: absolute;
     top: -0.2em;
     left: 0;
 }
 
 .inputRange {
     color: #60a5fa;
     --thumb-height: 0.75em;
     --track-height: 0.35em;
     --track-color: rgba(0, 0, 0, 0.2);
     --brightness-hover: 80%;
     --brightness-down: 80%;
     --clip-edges: 0.125em;
 }
 
 /* === range commons === */
 .inputRange {
     background: #fff0;
     overflow: hidden;
 }
 
 .inputRange:active {
     cursor: grabbing;
 }
 
 .inputRange:disabled {
     filter: grayscale(1);
     opacity: 0.3;
     cursor: not-allowed;
 }
 
 /* === WebKit specific styles === */
 .inputRange,
 .inputRange::-webkit-slider-runnable-track,
 .inputRange::-webkit-slider-thumb {
     -webkit-appearance: none;
     transition: all ease 100ms;
     height: var(--thumb-height);
 }
 
 .inputRange::-webkit-slider-runnable-track,
 .inputRange::-webkit-slider-thumb {
     position: relative;
 }
 
 .inputRange::-webkit-slider-thumb {
     --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
     --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
     --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
     --clip-further: calc(100% + 1px);
     --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
         100vmax currentColor;
 
     width: var(--thumb-width, var(--thumb-height));
     background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
         50% calc(var(--track-height) + 1px);
     background-color: currentColor;
     box-shadow: var(--box-fill);
     border-radius: var(--thumb-width, var(--thumb-height));
 
     filter: brightness(100%);
     clip-path: polygon(
         100% -1px,
         var(--clip-edges) -1px,
         0 var(--clip-top),
         -100vmax var(--clip-top),
         -100vmax var(--clip-bottom),
         0 var(--clip-bottom),
         var(--clip-edges) 100%,
         var(--clip-further) var(--clip-further)
     );
 }
 
 .inputRange:hover::-webkit-slider-thumb {
     filter: brightness(var(--brightness-hover));
     cursor: grab;
 }
 
 .inputRange:active::-webkit-slider-thumb {
     filter: brightness(var(--brightness-down));
     cursor: grabbing;
 }
 
 .inputRange::-webkit-slider-runnable-track {
     background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
         100% calc(var(--track-height) + 1px);
 }
 
 .inputRange:disabled::-webkit-slider-thumb {
     cursor: not-allowed;
 }
 
 /* === Firefox specific styles === */
 .inputRange,
 .inputRange::-moz-range-track,
 .inputRange::-moz-range-thumb {
     appearance: none;
     transition: all ease 100ms;
     height: var(--thumb-height);
 }
 
 .inputRange::-moz-range-track,
 .inputRange::-moz-range-thumb,
 .inputRange::-moz-range-progress {
     background: #fff0;
 }
 
 .inputRange::-moz-range-thumb {
     background: currentColor;
     border: 0;
     width: var(--thumb-width, var(--thumb-height));
     border-radius: var(--thumb-width, var(--thumb-height));
     cursor: grab;
 }
 
 .inputRange:active::-moz-range-thumb {
     cursor: grabbing;
 }
 
 .inputRange::-moz-range-track {
     width: 100%;
     background: var(--track-color);
 }
 
 .inputRange::-moz-range-progress {
     appearance: none;
     background: currentColor;
     transition-delay: 30ms;
 }
 
 .inputRange::-moz-range-track,
 .inputRange::-moz-range-progress {
     height: calc(var(--track-height) + 1px);
     border-radius: var(--track-height);
 }
 
 .inputRange::-moz-range-thumb,
 .inputRange::-moz-range-progress {
     filter: brightness(100%);
 }
 
 .inputRange:hover::-moz-range-thumb,
 .inputRange:hover::-moz-range-progress {
     filter: brightness(var(--brightness-hover));
 }
 
 .inputRange:active::-moz-range-thumb,
 .inputRange:active::-moz-range-progress {
     filter: brightness(var(--brightness-down));
 }
 
 .inputRange:disabled::-moz-range-thumb {
     cursor: not-allowed;
 }
 
 /* === Volume Range === */
 .volumeRange {
    font-size: 1.5rem;
    width: auto;
}

.volumeRange {
    color: #60a5fa;
    --thumb-height: 0.75em;
    --track-height: 0.35em;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 80%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

/* === range commons === */
.volumeRange {
    background: #fff0;
    overflow: hidden;
}

.volumeRange:active {
    cursor: grabbing;
}

.volumeRange:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* === WebKit specific styles === */
.volumeRange,
.volumeRange::-webkit-slider-runnable-track,
.volumeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

.volumeRange::-webkit-slider-runnable-track,
.volumeRange::-webkit-slider-thumb {
    position: relative;
}

.volumeRange::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
        100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
        50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
        100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further)
    );
}

.volumeRange:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

.volumeRange:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

.volumeRange::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
        100% calc(var(--track-height) + 1px);
}

.volumeRange:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
.volumeRange,
.volumeRange::-moz-range-track,
.volumeRange::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

.volumeRange::-moz-range-track,
.volumeRange::-moz-range-thumb,
.volumeRange::-moz-range-progress {
    background: #fff0;
}

.volumeRange::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

.volumeRange:active::-moz-range-thumb {
    cursor: grabbing;
}

.volumeRange::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

.volumeRange::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

.volumeRange::-moz-range-track,
.volumeRange::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

.volumeRange::-moz-range-thumb,
.volumeRange::-moz-range-progress {
    filter: brightness(100%);
}

.volumeRange:hover::-moz-range-thumb,
.volumeRange:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

.volumeRange:active::-moz-range-thumb,
.volumeRange:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

.volumeRange:disabled::-moz-range-thumb {
    cursor: not-allowed;
}
